/* =====================================================================
 ================== Default css=================*/
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #353353;
  font-family: "Poppins", sans-serif;
  position: relative;
}
ul,
ol,
a {
  text-decoration: none;
  list-style-type: none;
}
a:hover {
  color: #fff;
}
img {
  max-width: 100%;
}
.shadows {
  box-shadow: 0px 5px 20px 0px rgb(71 69 97 / 70%);
  border-radius: 10px;
}
.about-img-text {
  padding: 30px 25px 25px;
}

/* =====================================================================
 ================== preloader css=================*/

.no-scroll-y {
	overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {
	align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(13):before {
  animation-delay: 1.1s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animación del preloader */
@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}


/* =====================================================================
 ================== Sidenav css=================*/
 /* mobile-menu */
 .menu {
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}
.line {
  fill: none;
  stroke:#fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}



 /* ////////////////////////////////////////// */

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #353353;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #4a4865;
}
.sidenav_inner {
  position: relative;
}
.sidenav_inner::before {
  content: "";
  background-color: #7280ff;
  position: absolute;
  width: 93px;
  height: 200px;
  top: -115px;
  left: 0;
  transform: rotate(50deg);
  z-index: -1;
}
.sidenav_inner::after {
  content: "";
  background-color: #7280ff;
  position: absolute;
  width: 93px;
  height: 200px;
  top: -115px;
  right: 0;
  transform: rotate(-50deg);
  z-index: -1;
}
.nav_image {
  border-bottom: 1px solid #4a4865;
}
.my_nav_image {
  width: 70%;
  height: 140px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
}

.nav_link ul li {
  margin-bottom: 30px;
}
.nav_link ul li a {
  color: #fff;
}
.nav_link ul li a:hover {
  color: #7280ff;
}
.nav_link ul li a i {
  color: #7280ff;
  display: inline-block;
  margin-right: 10px;
}


/* =====================================================================
 ================== Main-content css=================*/

.main-content {
  margin-left: 200px;
}
/* scroll icon */
.scroll{
  position: fixed;
  right:20px;
  bottom: 800px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  z-index: 100;

}
.scroll:hover{
  transform: translateY(-5px);
}
.scroll.activated{
  bottom: 45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


/* =====================================================================
 ================== banner css=================*/
.banner_area {
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./image/bann.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.my-banner-image {
  width: 38%;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: contain;
}
.home-image-title h1 {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 5px;
}
.social {
  display: inline-block;
  margin-top: 20px;
}

.social a i {
  display: inline-block;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
  width: 40px;
  border: 0.5px solid #5a5958;
  border-radius: 50%;
  transition: all 1s;
}
.social a i:hover {
  background-color: #7280ff;
}

/* =====================================================================
 ================== About me css=================*/
.common-heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.common-heading::before {
  content: attr(data-before-content);
  position: absolute;
  left: 20%;
  top: -50%;
  font-size:2em;
  letter-spacing: 5px;
  opacity: 0.1;
}
.common-heading span {
  color: #7b88ff;
}
.about-img {
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
}
.about-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 300%;
  left: -70%;
  top: -100%;
  background: #7280ff;
  transform: rotate(45deg);
}
.about-img img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.personal-info {
  padding: 10px;
}
.personal-info ul {
  display: flex;
  flex-wrap: wrap;
}
.personal-info ul li {
  width: 50%;
  padding: 0.5rem 0;
}
.personal-info ul li span {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
/* =====================================================================
 ================== services css=================*/
.service {
  padding: 15px 10px;
  transition: all 1s;
  cursor: pointer;
}
.service:hover {
  box-shadow: none;
  transform: translateY(-20px);
}
.service h4 {
  margin-top: 10px;
}
.service i {
  display: inline-block;
  margin-top: 10px;
  transition: all 1s;
  color: #7280ff;
}
.service:hover i {
  transform: scale(1.3);
  color: #fff;
}

/* =====================================================================
 ================== Skill css=================*/
.skill-title {
  border-bottom: 1px solid #4a4865;
}
.skill-title h4 {
  font-weight: bold;
}

/* =====================================================================
 ================== Portfolio css=================*/
 .portfolio-area{
    height: max-content;
}

.common-heading-portfolio {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.common-heading-portfolio::before {
  content: attr(data-before-content);
  position: absolute;
  left: 0%;
  top: -50%;
  font-size: 80px;
  letter-spacing: 5px;
  opacity: 0.1;
}
.common-heading-portfolio span {
  color: #7b88ff;
}
.filter-control ul{
  color: #fff;
  display: flex;
  justify-content: center;
}
.filter-control ul li{
  display: inline-block;
  margin: 0 10px;
}
.filter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-container .filtr-item {
  position: relative;
  width: 30%;
  height: 200px;
  margin: 5px;
}
.filter-container .filtr-item img{
  width: 100%;
  height:100%;
}

/* =====================================================================
 ================== Contact css=================*/
 .touch-area{
   transition: all 1s;
 }
 .touch-area:hover{
   cursor: pointer;
   transform: translateY(-10px);
   box-shadow: none;
   box-shadow: none;
 }
.touch-area i{
  background-color: #7280ff;
  padding: 15px;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 50%;
 
}
/* =====================================================================
 ================== Fotter css=================*/
.footer{
  background-color: #7280FF;
  padding: 10px 0;
}
