@media all and (min-width:1920px) {
    
    .nav_link ul li{
        margin-bottom: 40px;
    }
    .nav_link ul li a{
        font-size: 1.5em;
    }

}
@media all and (max-width:768px){
  
    .banner_area{
        height: 100vh;
        padding: 25px 0;
    }
    .menu{
        display: initial;
        position: fixed;
        right: 100px;
        top: 40px;
        z-index: 11111;
        background-color: #0055B3;
        border-radius: 50%;
        color: #fff;
    }
    .sidenav{
        width: 0;
        visibility: hidden;
        overflow:hidden;
        transition: all 0.5s;
    }
    .scroll{
        right: 60px;
    }
    .sidenavactive{
        visibility: visible;
        width: 200px;
        z-index: 11111;
    }
    .social a i { 
        padding: 13px;
        width: 44px;
        text-align: center;
    }

    .main-content{
        margin: 0;
    }
    .home-content{
        text-align: initial !important;
    }
    .my-banner-image {
        width: 38%;
    }
    .common-heading-portfolio::before {
        left: 8%;
        top: -76% 
    }
    .element-item img {
        height: 200px;
    }
    iframe{
        width: 100% !important;
    }
}
@media all and (max-width:425px){
    .menu {
        right: 27px;  
    }
    .home-image-title h1 {
        font-size: 36px;
    }
    svg {
        width: 50px;
        height: 50px;
    }
    .my-banner-image {
        width: 49%;
        display: block;
        margin: 0 54px;
    }
    .common-heading-portfolio::before {
        left: 16%;
        top: -28%;
        font-size: 43px;
    }
    .scroll {
        right: 7px;
    }

}
@media all and (max-width:375px){
    .common-heading::before {
        content: attr(data-before-content);
        position: absolute;
        left: 20%;
        top: -34%;
        font-size: 44px;
        letter-spacing: 5px;
        opacity: 0.1;
    }
    .my-banner-image {
        width: 56%;
        display: block;
        margin: 0 60px;
    }
    .personal-info ul li {
        width: 100%;
    }
    .scroll {
        right: 8px;
    }
}

@media all and (max-width:316px){
    .common-heading-portfolio::before {
        left: 10%;
        top: -23%;
        font-size: 34px;
    }
    .common-heading::before {
        left: 20%;
        top: -8%;
        font-size: 30px;
    }
    .my-banner-image {
        width: 66%;
        display: block;
        margin: 0 40px;
    }
}


/* preloader responsive */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner cargando */	
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}
}
